@font-face {
    font-family: 'OpenSans';
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
  }
    
  @font-face {
    font-family: 'OpenSans';
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'OpenSans', serif;
  }
  
  /* cстили для banera & headera */

  .header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: slategrey;
    background-image: url(/MQ/png/banner_mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
  
    padding: 31px 15px 219px;
    z-index: 0;
  }

  .logo {
    margin-top: 174px;
    height: 61px;
  }
  
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
  
    z-index: -1;
  }
  
  /* .header-main {
    position: relative;
    z-index: 2;
    margin-bottom: 43px;
    width: 100%;

  } */
  
 

  /* .sandwich-menu {
    margin-bottom: 174px;
  } */
  
.menu-line {
  align-self: flex-end;
  width: 23px;
  height: 4px;
  background-color: #ffffff;
  position: relative;
  top: 0;
  right: 0;
}

.menu-line::before{
  content: "";
  width: 23px;
  height: 4px;
  background-color: white;
  position: absolute;
  top: 8px;
  right: 0;
}

.menu-line::after{
  content: "";
  width: 23px;
  height: 4px;
  background-color: white;
  position: absolute;
  top: 16px;
  right: 0px;
}

  .menu {
    display: none;
    font-size: 13px;
    text-transform: uppercase;
  }
  
  /* .menu-list {
    display: flex;
  }
  
  .menu-list-item{
    list-style: none;
  }
  
  .menu-link {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
  }
  
  .menu-list-item:nth-child(n+2){
    margin-left: 38px;
  } */
  
  .header-text {
    position: relative;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.38;
    text-align: center;
    color: #ffffff;
    margin-top: 43px;
    width: 287px;
  }
  
  /* стили для блока с контентом страницы */
  
  /* .main-content {
    box-sizing: border-box;
    display: flex;
    padding: 60px 15px 70px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  } */
  
   /* стили для блока с новостями */

   /*стлили в тренде*/


   .trends {
    margin-top: 40px;
   }

   .trends-title {
    font-size: 16px;
    font-weight: bold;
    color: #0f0d0e;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
   }

   .trends-title::after {
    content: "";
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    opacity: 0.4;
    margin-top: 8px;
  }

  .trend-item {
    padding: 88px 15px 15px;
    background-position: bottom;
    background-color: aqua;
    position: relative;
    margin-bottom: 3px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .interior {
    background-image: url(/MQ/png/Photo-1.png);
    
  }

  .food {
    background-image: url(/MQ/png/Photo-2.png);
  }

  .travel {
    background-image: url(/MQ/png/Photo-3.png);
  }

  .health {
    background-image: url(/MQ/png/Photo-4.png);
  }


  .trend-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: 0;
  }

  .trend-item-content {
    border: solid 3px rgb(181, 159, 91, 0.6);
    padding: 30px 24px;
    position: relative;
    z-index: 1;
  }


.trend-item-tag-list {
  display: flex;
  list-style: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

   .trend-item-tag-list-item {
    text-decoration: none;
    color: #b59f5b;
    margin-right: 20px;
   }

   .trend-item-tag-list-item:last-child {
    margin-right: 0;
   }

   .trend-item-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
  }
  
  /* .newsboxes */ 

  .newsboxes {
    padding: 43px 15px 0;
  }

  .news-box-content {
    position: relative;
    padding: 10px 0 60px;
  }

  .news-box-content::after {
    content: "";
    position: absolute;
    bottom: 35px;
    width: 100%;
    height: 4px;
    background-color: #eeeeee; 
  }
  
  .news-box-img {
    width: 100%;
    background-color: #eff6f1;
  }
  

  .news-box-category {
    display: flex;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .news-box-category-list {
    list-style: none;
    margin-right: 20px;
  }
  
  .nwes-box-category-link {
    text-decoration: none;
    color: #b59f5b;
  }
  
  .news-box-category-list:last-child {
    margin-right: 0;
  }
  
  .news-box-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    color: #0f0d0e;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .news-box-meta {
    display: flex;
    font-size: 12px;
    margin-top: 24px;
    margin-bottom: 19px;
  }
  
  .news-box-date {
    color: #888888;
    margin-right: 15px;
  }
  
  .news-box-autor {
    font-weight: bold;
    color: #000000;
  }
  
  .news-box-text {
    font-size: 14px;
    line-height: 1.43;
    color: #0f0d0e;
    
  } 

  
  /* стили для боковой колонки с Resent News */
  

  
  .sidebar-title {
    font-size: 16px;
    font-weight: bold;
    color: #0f0d0e;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .sidebar-title::after {
    content: "";
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    opacity: 0.4;
    margin-top: 10px;
  }
  
.resent-post {
  padding: 0 15px;
}

  .resent-post-item {
    display: flex;
    margin-bottom: 22px;
  }
  
  .resent-post-item:last-child {
    margin-bottom: 0;
  }
  
  .recent-post-img {
    display: block;
    background-color: #999999;
    width: 70px;
    height: 70px;
    margin-right: 20px;
  }
  
  .recent-post-date {
    opacity: 0.54;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
   }
  
  .resent-post-item-title-link {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  
  /* стили для боковой колонки с поиском */
  
  .search, .subscribe, .tags, .categorys {
    margin-top: 40px;
    padding: 0 15px;
  }
  
  .search {
    display: flex;
    justify-content: center;
    
  }
  
  .form-field {
    box-sizing: border-box;
    width: 100%;
    height: 49px;
    background-color: #f4f7f6;
    border: 0 solid white;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.54);
  }
  
  .search-field {
    width: 100%;
  }
  
  .button {
    background-color: #b59f5b;
    border: 0 solid white;
    cursor: pointer;
  }
  
  .search-button {
    width: 49px;
    height: 49px;
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center center;
    flex-shrink: 0;
  }
  
  .button, .search-field, .subscribe-field, .subscribe-button:focus {
    outline: none;
  } */
  
  /* стили для боковой колонки с подпиской*/
  
  

  .subscribe-field {
    width: 100%;
  }
  
  .subscribe-button {
    margin-top: 15px;
    box-sizing: border-box;
    width: 100%;
    padding: 16.5px 98px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
  }
  
  /* стили для боковой колонки с тегами*/
  

  .tags-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .tags-list-item {
    box-sizing: border-box;
    list-style: none;
    padding: 6px 15px;
    text-align: center;
    border: solid 3px #eeeeee;
    margin-right: 6px;
    margin-bottom: 6px;
    line-height: 10px;
  }
  
  .tags-list-item:last-child {
    margin-right: 0;
  }
  
  .tags-link {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #0f0d0e;
    text-transform: uppercase;
  }
  
  /* стили для боковой колонки с категориями*/


  .category-list-item {
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid #eeeeee;;
  }
  
  .category-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
  }
  
  .hoofletters {
    position: relative;
    left: 5px;
    top: -5px;
  
    font-size: 12px;
    font-weight: bold;
    color: #b59f5b;
  } 

  /* стили для товаров*/

 .goods {
  padding: 0 15px;
  margin-top: 44px;
 }

.goods-title {
    font-size: 16px;
    font-weight: bold;
    color: #0f0d0e;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

  .goods-title::after {
    content: "";
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    opacity: 0.4;
    margin-top: 8px;
  }

  .goods-card {
    position: relative;
    margin-bottom: 23px;
  }


  .goods-content {
    position: relative;
    padding: 54px 20px 30px;
    border: solid 3px rgb(181, 159, 91, 0.6);
  }

  /* .goods-content::before {
    content: "";
    position: absolute;
    top: -270px;
    width: 90%;
    height: 140%;
    background-image: url(/MQ/png/Photo-5.png);
    background-repeat: no-repeat;
    background-position: 100% 20%;
    background-size: 180% auto;
    z-index: 1;
  } */
  
  .goods-item-title {
    font-size: 17px;
    font-weight: bold;
    color: #0f0d0e;
    text-transform: uppercase;
  }

  .goods-item-text {
    font-size: 15px;
  }

 .goods-link {
    color: #b59f5b;
    text-decoration: none;
  }

  .goods-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 23px;
  }

.goods-item-price {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
}

.goods-item-price::before {
  content: "1000 P";
  position: absolute;
  text-decoration: line-through;
  top: -15px;
  left: 0;
  font-size: 14px;
}

.goods-item-button {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  /* width: 141px;
  height: 49px; */
  padding: 18px 30px;
  background-color: #b59f5b;
}

  /* стили для футера */
  
  .footer {
    padding: 0 15px;
  }
  
  .social {
    background-color: #f4f7f6;
    text-align: center;
    padding: 32px 0;
  }
  
  
  .social-list {
   display: flex;
   justify-content: center;
  }
  
  .social-list-item {
    list-style: none;
    margin-right: 28px;
  }
  
  .social-list-item:last-child {
    margin-right: 0;
  }
  
  .twitter {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
  }
  
  .pinterest {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
  }
  
  .facebook {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg);
  }
  
  .instagram {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg);
  }
  .tumbler {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
  }
  
  .social-icon::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  
  .visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  }
  
  .copyright {
    margin-top: 49px;
    margin-bottom: 46px;
    text-align: center;
  }
  
  .copyright a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #999999;
  }

/* медиазапросы */

  @media (min-width: 641px) and (max-width: 960px){

    .header {
      background-image: url(/MQ/png/banner_mobile.png);
      padding: 43px 35px 124px;
    }

    .menu-container {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: baseline;
      position: relative;
    }

    .menu-line {
      align-self: flex-start;
    }

    .logo {
      margin-top: 0;
      height: 36px;
    }

    .header-text {
      font-size: 40px;
      margin-top: 103px;
      width: 100%;
      line-height: 1.38;
    }

    .trends-title {
      font-size: 18px;
    }

    .trends-container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    .trend-item {
      box-sizing: border-box;
      width: 49.7%;
      margin-right: 3.7px;
    }

    .trend-item:nth-child(2n) {
      margin-right: 0;
    }

    .main-section {
      display: flex;
      padding: 50px 35px;
    }

<<<<<<< HEAD
    .sidebar-title {
      font-size: 14px;
    }

=======
>>>>>>> ipad
    .goods {
      margin-top: 0;
    }

    .goods-title {
      font-size: 18px;
    }

    .goods-container {
      display: flex;
      flex-wrap: wrap;
    }

    .goods-card {
      margin-right: 20px;
      width: 48%;

    }

    .goods-card:nth-child(2n) {
      margin-right: 0;
    }
<<<<<<< HEAD
}
=======
}
>>>>>>> ipad
